* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(49, 54, 101);
  }
  .container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  .barchart {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
  }
  .input {
    padding: 8px;
    border-radius: 10px;
  margin-right: 20px;
  }
  .button {
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
    background-color: rgb(86, 86, 175);
  }
  .button:hover {
    background: rgb(169, 187, 203);
  }
  .hr {
    border: 2px dotted black;
    margin-bottom: 20px;
  }

  .h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .option {
    font-size: 15px;
  }

  .select {
    padding: 10px;
    border-radius: 15px;
    transition: 0.4s;
  }
  .select:hover {
    background-color: bisque;
  }